.editButton {
    border-radius: 100px;
    letter-spacing: 0.12em;
    text-transform: uppercase;
    padding-block: 6px 8px;
    padding-inline: 20px;
    cursor: pointer;
    font-weight: 700;
    outline-style: none;

    &Solid {
        background: var(--primary-blue);
        color: var(--white);
        border: none;
        margin-inline-start: 6px;
        transition: all 0.2s ease-in-out;

        :hover {
            background: var(--secondary-blue);
        }
        :focus {
            box-shadow: var(--outline-box-shadow-contrast);
        }
    }

    &Outline {
        background: var(--white);
        color: var(--primary-blue);
        border: 1px solid var(--primary-blue);
        margin-inline-start: 12px;
        transition: all 0.1s ease-in-out;

        :disabled {
            opacity: 0.5;
        }

        :hover:not([disabled]) {
            background: var(--primary-blue);
            color: var(--white);
        }

        :focus {
            box-shadow: var(--outline-box-shadow);
          }
    }
}